<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/SfxApmTrainingJava/src/main/java/com/signalfx/training/SfxCurrencyConverterServerAuto.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="SIGNALFX_AGENT_HOST" value="192.168.0.110"/>
    </mapAttribute>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
        <listEntry value="org.eclipse.eclemma.ui.launchGroup.coverage"/>
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.signalfx.training.SfxCurrencyConverterServerAuto"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="SfxApmTrainingJava"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SfxApmTrainingJava"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-javaagent:./signalfx-tracing.jar&#13;&#10;-Dsignalfx.trace.methods=com.signalfx.training.SfxCurrencyConverterAuto[*];com.signalfx.training.MultipleMethodTest[*]&#13;&#10;-Dsignalfx.service.name=SfxAutoWithMethods"/>
</launchConfiguration>
